{% extends 'parent1.html' %}

{% block title %}
Articles
{% endblock %}

{% block body %}
        <div class="info">
                    <h1 class="dobavit">Add your problem</h1>
                    <form class="form row g-3" method="post">
                         {{ form.hidden_tag() }}
                        <div class="col-12">

                            {{ form.title(class="form-control", placeholder="Title") }}
                        </div>
                        <div class="col-md-4">
                            {{ form.year(class="form-control",placeholder="Year") }}
                          </div>

                        <div class="col-md-4">
                                {{ form.gender(class="form-control") }}
                        </div>
                        <div class="col-md-4">
                          {{ form.img(class="form-control") }}
                        </div>
                        <div class="col-12">
                          <div class="form-check">
                             {{ form.text(class="form-control",placeholder="Main Content") }}
                          </div>
                        </div>
                        <div class="col-12">
                           {{ form.submit(class='btn btn-secondary') }}
                        </div>
                      </form>
                </div>
            </div>
        </div>


{% endblock %}












