{% extends 'parent1.html' %}
{% block title %}
Add post
{% endblock %}

{% block body %}
        <div class="info">
                    <h1 class="dobavit">Добавить вопрос</h1>
                    <form class="form row g-3">
                        <div class="col-12">
                          <input type="text" class="form-control" placeholder="Title" id="inputEmail41">
                        </div>
                        <div class="col-md-4">
                            <input type="number" class="form-control" placeholder="Year" id="inputEmail42">
                          </div>

                        <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Gender" id="inputEmail43">
                        </div>
                        <div class="col-md-4">
                          <input type="file" class="form-control" id="inputZip">
                        </div>
                        <div class="col-12">
                          <div class="form-check">
                             <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                          </div>
                        </div>
                        <div class="col-12">
                          <button type="submit" class="btn">Post</button>
                        </div>
                      </form>
                </div>
            </div>
        </div>

{% endblock %}



















