{% extends 'parent2.html' %}

{% block title %}
Med Forum
{% endblock %}

{%  block button %}
<a href="login"><button type="button" class="btn">Login</button></a>
<a href="regist"><button type="button" class="btn">Registration</button></a>
{% endblock %}

{% block body %}
            <div class="info">
                <div class="row">
                    <div class="left col-md-6">
                        <h1>Medical</h1>
                        <h3>Consultation</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit fugit voluptate molestiae,
                            consectetur, neque commodi laudantium iusto optio tenetur iste voluptatum quis ea officiis
                            quia.
                            Laudantium similique nobis quam sunt.</p>
                    </div>
                    <div class="right col-md-6">
                        <img src="static/bootstrap-5.1.1-dist/img/Group 6.png" alt="">
                    </div>
                </div>
            </div>


{% endblock %}






<div class="info">
                <div class="row">
                    <div class="left col-md-6">
                        <h1>Medical</h1>
                        <h3>Consultation</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit fugit voluptate molestiae,
                            consectetur, neque commodi laudantium iusto optio tenetur iste voluptatum quis ea officiis
                            quia.
                            Laudantium similique nobis quam sunt.</p>
                    </div>
                    <div class="right col-md-6">
                        <img src="static/bootstrap-5.1.1-dist/img/Group 6.png" alt="">
                    </div>
                </div>